<!DOCTYPE html>
<html lang-"pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title> conversor de áudio para texto</title>
    </head>
    <body>
        <form action="" method="post">
            <H1> Converter de vós para texto</H1>
            {% csrf_token %}
            <input type="submit"value="converter usando a vós">
        </form>
        <h2> texto que você falou</h2>
        <br> {{texto}}</br>
        <H2>voltar para o início</H2>
        <a href="/">home</a>
    </body>
</html>