<!DOCTYPE html>
<html lang-"pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title> Converter para áudio</title>
    </head>
    <body>
        <h2>transformar um texto em áudio </h2>
        <form action="http://127.0.0.1:8000/converte/ctv/" method="post">
            {% csrf_token %}
            <div>
                <label for="texto"> Digite aqui seu texto</label>
                texto<input type="text" name="texto" id="texto">
            </div>
            <div class="button">
                <input type="submit"  value="converter">
            </div>
        </form>
        <H3>Voltar para o início</H3>
        <a href="/">home</a>
    </body>
</html>