<!DOCTYPE html>
<html lang-"pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title> Converter para áudio</title>
    </head>
    <body>
        <h2>transformar um texto em áudio </h2>
        <form action="" method="post">
            <div>
                <label for="texto"> Digite aqui seu texto</label>
                <textarea id=""msg" texto></textarea>
            </div>
            <div class="button">
                <input type="submit" id="converterTV" value="converter">
            </div>
        </form>
        <H3>Voltar para o início</H3>
        <a href="/">home</a>
    </body>
</html>